<ul class="post-list">
  {{#each posts as |post|}}
  <li>
    <article class="post">
      <div class="title">
        {{post.title}}
        <br>
      {{> post-info post}}
      </div>
    </article>
  </li>
  {{/each}}
</ul>